pandas
openpyxl
numpy
scikit-learn
matplotlib
seaborn
jupyterlab
ipykernel
py3langid
apify-client
requests
beautifulsoup4
lxml
nltk
joblib
gensim
tensorflow
pyLDAvis
streamlit
plotly
torch
transformers==4.44.2
